@import "tailwindcss";

.tutorial {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.tutorial h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.tutorial h2 {
  font-size: 2rem;
  color: #444;
  margin-top: 30px;
  margin-bottom: 15px;
}

.tutorial p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.tutorial img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tutorial code {
  background-color: #f4f4f4;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}

.tutorial pre {
  background-color: #f4f4f4;
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.tutorial ol {
  list-style-type: decimal; /* Ensures numbers are displayed */
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.tutorial ol li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #444;
}

.tutorial ol li::marker {
  font-weight: bold;
  color: black; /* Change to your primary color */
}

.tutorial a {
  color: #007bff;
}


.tutorial ul {
  list-style-type: disc; /* Show bullets */
}

.tutorial ul li {
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  font-size: 1rem;
  color: #444;
}

.back-button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #666;
}
